# System files
.DS_Store
Thumbs.db

# RStudio project files
.Rproj.user/
*.Rproj
.Rhistory
.RData
.Ruserdata

# VSCode project files
.vscode/

# Package build files
.Rbuildignore
.Rinstignore
.Renviron
.Rprofile

# Binary files
*.o
*.so
